.custom-pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: -50px;
}

.custom-pagination .custom-bullet {
  width: 14px;
  height: 6px;
  background-color: #c0d1cb;
  border-radius: 40%;
  cursor: pointer;
  transition: all 0.5s ease;
}

.custom-pagination .swiper-pagination-bullet-active {
  background-color: #5CAF90;
  transform: scale(1.9);
}