.custom-pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: -50px;
}
.custom-pagination .custom-bullet {
  width: 10px;
  height: 10px;
  background-color: #5caf90;
  /* background-color: transparent; */
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.custom-pagination .swiper-pagination-bullet-active {
  width: 30px;
  height: 12px;
  background-color: #5caf90;
  transform: scale(1);
}
